@import '~app/assets/stylus';


.root
  composes: styleguide from 'app/assets/stylus/common.styl'

.paragraph
  composes: paragraph from 'app/assets/stylus/common.styl'

.repos
  margin-bottom: 16px

.repo
  &:not(:last-child)
    margin-bottom: 8px

.slide
  composes: fit from 'app/assets/stylus/common.styl'
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
